{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<div class="app-content" style="overflow:auto !important;">
    <h1 class="app-content-headerText">Projects</h1>
    <div>
        <canvas id="myAreaChart" style="height:300px !important;"></canvas>
    </div>
    <select style="margin-left:auto; max-width:200px;"id="sort_projects_by">
        <option value="" selected disabled>Sort By</option>
        <option value="probability">Probability</option>
        <option value="impact">Impact</option>
    </select>
    <div>
        <ul id="columns-dropdown">
            <li class="inline_list"><input  type="checkbox" data-col="col-name" class="col-checkbox" />Project Name</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-number" class="col-checkbox" />Project Number</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-client"class="col-checkbox" />Client</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-pro-manager" class="col-checkbox" />Project Manager</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-last-review" class="col-checkbox" />Last Review Date</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-scope" class="col-checkbox" />Scope of Work</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-cat"class="col-checkbox" />Category</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-risk" class="col-checkbox" />Risk Description</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-prob" class="col-checkbox" />Probability</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-impact" class="col-checkbox" />Impact</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-score"class="col-checkbox" />Score</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-control" class="col-checkbox" />Control Measures</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-owner" class="col-checkbox" />Owner</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-status" class="col-checkbox" />Status</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-nearest"class="col-checkbox" />Nearest Month</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-cl-costs" class="col-checkbox" />Client Costs(£)</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-pl-costs" class="col-checkbox" />Planned Activities Costs(£)</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-cont-costs" class="col-checkbox" />Contingent Activities Costs(£)</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-bud-costs"class="col-checkbox" />Costs included in Contingency Budget(£)</li>
        </ul>
    </div>
    </br>
    <table>
        <thead>
            <th class="col-name">Project Name</th>
            <th class="col-number">Project Number</th>
            <th class="col-client">Client</th>
            <th class="col-pro-manager">Project Manager</th>
            <th class="width_ col-last-review">Last Review Date</th>
            <th class="width_ col-scope">Scope of Work</th>
            <th class="col-cat">Category</th>
            <th class="width_ col-risk">Risk Description</th>
            <th class="col-prob">Probability</th>
            <th class="col-impact">Impact</th>
            <th class="col-score">Score</th>
            <th class="width_ col-control">Control Measures</th>
            <th class="col-owner">Owner</th>
            <th class="col-status">Status</th>
            <th class="width_ col-nearest">Nearest Month</th>
            <th class="col-cl-costs">Client Costs(£)</th>
            <th class="col-pl-costs">Planned Activities Costs(£)</th>
            <th class="col-cont-costs">Contingent Activities Costs(£)</th>
            <th class="col-bud-costs">Costs included in Contingency Budget(£)</th>
        </thead>
        <tbody id="projects">
            {% for r in risks %}
                <tr>
                    <td class="col-name">{{ r.projects.project_name }}</td>
                    <td class="col-number">{{ r.projects.project_number }}</td>
                    <td class="col-client">{{ r.projects.client }}</td>
                    <td class="col-pro-manager">{{ r.projectsp.project_manager }}</td>
                    <td class="col-last-review">{{ r.projects.last_review }}</td>
                    <td class="col-scope">{{ r.projects.scope_of_work}}</td>
                    <td class="col-cat">{{ r.get_category_display }}</td>
                    <td class="col-risk">{{ r.desc }}</td>
                    <td class="col-prob">{{ r.probability }}</td>
                    <td class="col-impact">{{ r.impact }}</td>
                    <td class="col-score">{{ score|array:forloop.counter0 }}</td>
                    <td class="col-control">{{ r.control_measures }}</td>
                    <td class="col-owner">{{ r.owner }}</td>
                    <td class="col-status">{{ r.get_status_display }}</td>
                    <td class="col-nearest">{{ r.nearest_month }}</td>
                    <td class="col-cl-costs">£{{ r.cl_costs }}</td>
                    <td class="col-pl-costs">£{{ r.planned_costs }}</td>
                    <td class="col-cont-costs">£{{ r.cont_costs }}</td>
                    <td class="col-bud-costs">£{{ r.costs_in_budget }}</td>
            
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'js/sort.js' %}"></script>
<script>
    // Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels:{{ project_names|safe }},
    datasets: [{
      label: "Impact",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{ impact|safe }},
    },{
      label: "Probability",
      lineTension: 0.3,
      backgroundColor: "rgb(255,0,0)",
      borderColor: "rgb(255,0,0)",
      pointRadius: 3,
      pointBackgroundColor: "rgb(255,0,0)",
      pointBorderColor: "rgb(255,0,0)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgb(255,0,0)",
      pointHoverBorderColor: "rgb(255,0,0)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{ probability|safe }},
    },{
        label: "Score",
        lineTension: 0.3,
        backgroundColor: "rgb(0,128,0)",
        borderColor: "rgb(0,128,0)",
        pointRadius: 3,
        pointBackgroundColor: "rgb(0,128,0)",
        pointBorderColor: "rgb(0,128,0)",
        pointHoverRadius: 3,
        pointHoverBackgroundColor: "rgb(0,128,0)",
        pointHoverBorderColor: "rgb(0,128,0)",
        pointHitRadius: 10,
        pointBorderWidth: 2,
        data: {{ score|safe }},
      }],
  },
  options: {
    plugins: {
        title: {
            display: true,
            text: 'Project Risk Score'
        }
    },
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
        x:{
            beginAtZero: true
        },
        y: {
            beginAtZero: true
        },
      xAxes: [{
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7,
        },
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        },
      }],
    },
    legend: {
      display: true
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
    }
  }
});




</script>

{% endblock content %}


