{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<div class="app-content" style="overflow:auto !important;">
    <h1 class="app-content-headerText" style="margin-bottom:0 !important;">Projects</h1>
    <h1 class="app-content-headerText" style="margin:auto;margin-bottom:0 !important;">Risk Matrix Chart</h1>
    <div style="display:inherit;">
      <img style="width:50%;"src='data:image/png;base64,{{ chart }}'>
      <img style="width:50%;"src='data:image/png;base64,{{ chart2 }}'>
    </div>
    <select style="margin-left:auto; max-width:200px;"id="sort_projects_by">
        <option value="" selected disabled>Sort By</option>
        <option value="probability">Probability</option>
        <option value="impact">Impact</option>
    </select>
    <div>
        <ul id="columns-dropdown">
            <li class="inline_list"><input  type="checkbox" data-col="col-name" class="col-checkbox" />Project Name</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-number" class="col-checkbox" />Project Number</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-client"class="col-checkbox" />Client</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-pro-manager" class="col-checkbox" />Project Manager</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-last-review" class="col-checkbox" />Last Review Date</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-scope" class="col-checkbox" />Scope of Work</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-cat"class="col-checkbox" />Category</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-risk" class="col-checkbox" />Risk Description</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-prob-bef" class="col-checkbox" />Probability Before Mitigation</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-impact-bef" class="col-checkbox" />Impact Before Mitigation</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-score-bef-miti"class="col-checkbox" />Score Before Mitigation</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-prob-aft" class="col-checkbox" />Probability After Mitigation</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-impact-aft" class="col-checkbox" />Impact After Mitigation</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-score-aft-miti"class="col-checkbox" />Score After Mitigation</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-control" class="col-checkbox" />Mitigation</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-owner-risk" class="col-checkbox" />Owner of Risk</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-owner-miti" class="col-checkbox" />Owner of Mitigation</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-status" class="col-checkbox" />Status</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-nearest"class="col-checkbox" />Target Completion Month</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-cl-costs" class="col-checkbox" />Client Costs(£)</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-pl-costs" class="col-checkbox" />Planned Activities Costs(£)</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-cont-costs" class="col-checkbox" />Contingent Activities Costs(£)</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-bud-costs"class="col-checkbox" />Costs included in Contingency Budget(£)</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-quality-impact" class="col-checkbox" />Quality Impact</li>
            <li class="inline_list"><input  type="checkbox" data-col="col-reputation-impact"class="col-checkbox" />Reputation Impact</li>
        </ul>
    </div>
    </br>
    <table>
        <thead>
            <th class="col-name">Project Name</th>
            <th class="col-number">Project Number</th>
            <th class="col-client">Client</th>
            <th class="col-pro-manager">Project Manager</th>
            <th class="width_ col-last-review">Last Review Date</th>
            <th class="width_ col-scope">Scope of Work</th>
            <th class="col-cat">Category</th>
            <th class="width_ col-risk">Risk Description</th>
            <th class="col-prob-bef">Probability Before Mitigation</th>
            <th class="col-impact-bef">Impact Before Mitigation</th>
            <th class="col-score-bef-miti">Score Before Mitigation</th>
            <th class="col-prob-aft">Probability After Mitigation</th>
            <th class="col-impact-aft">Impact After Mitigation</th>
            <th class="col-score-aft-miti">Score After Mitigation</th>
            <th class="width_ col-control">Mitigation</th>
            <th class="col-owner-risk">Owner of Risk</th>
            <th class="col-owner-miti">Owner of Mitigation</th>
            <th class="col-status">Status</th>
            <th class="width_ col-nearest">Target Completion Month</th>
            <th class="col-cl-costs">Client Costs(£)</th>
            <th class="col-pl-costs">Planned Activities Costs(£)</th>
            <th class="col-cont-costs">Contingent Activities Costs(£)</th>
            <th class="col-bud-costs">Costs included in Contingency Budget(£)</th>
            <th class="width_ col-quality-impact">Quality Impact</th>
            <th class="width_ col-reputation-impact">Reputation Impact</th>
        </thead>
        <tbody id="projects">
            {% for r in risks %}
                <tr>
                    <td class="col-name">{{ r.projects.project_name }}</td>
                    <td class="col-number">{{ r.projects.project_number }}</td>
                    <td class="col-client">{{ r.projects.client }}</td>
                    <td class="col-pro-manager">{{ r.projects.project_manager }}</td>
                    <td class="col-last-review">{{ r.projects.last_review }}</td>
                    <td class="col-scope">{{ r.projects.scope_of_work}}</td>
                    <td class="col-cat">{{ r.get_category_display }}</td>
                    <td class="col-risk">{{ r.desc }}</td>
                    <td class="col-prob-bef">{{ prob_bef_miti|array:forloop.counter0 }}</td>
                    <td class="col-impact-bef">{{ imp_bef_miti|array:forloop.counter0 }}</td>
                    <td class="col-score-bef-miti">{{ score_bef_miti|array:forloop.counter0 }}</td>
                    <td class="col-prob-aft">{{ prob_aft_miti|array:forloop.counter0 }}</td>
                    <td class="col-impact-aft">{{ imp_aft_miti|array:forloop.counter0 }}</td>
                    <td class="col-score-aft-miti">{{ score_aft_miti|array:forloop.counter0 }}</td>
                    <td class="col-control">{{ r.mitigation }}</td>
                    <td class="col-owner-risk">{{ r.owner }}</td>
                    <td class="col-owner-miti">{{ r.owner_of_mitigation }}</td>
                    <td class="col-status">{{ r.get_status_display }}</td>
                    <td class="col-nearest">{{ r.nearest_month }}</td>
                    <td class="col-cl-costs">£{{ r.cl_costs }}</td>
                    <td class="col-pl-costs">£{{ r.planned_costs }}</td>
                    <td class="col-cont-costs">£{{ r.cont_costs }}</td>
                    <td class="col-bud-costs">£{{ r.costs_in_budget }}</td>
                    <td class="col-quality-impact">{{ r.quality_impact }}</td>
                    <td class="col-reputation-impact">{{ r.rep_impact }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}

<script src="{% static 'js/sort.js' %}"></script>
{% comment %} <script>
    // Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'scatter',
  data: {
    datasets: [{
      label: 'Scatter Dataset',
      data: [{
        x: -10,
        y: 0
      }, {
        x: 0,
        y: 10
      }, {
        x: 10,
        y: 5
      }, {
        x: 0.5,
        y: 5.5
      }],
    }],
  },
  options: {
    plugins: {
        title: {
            display: true,
            text: 'Project Risk Score'
        }
    },
    maintainAspectRatio: true,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
        x:{
            beginAtZero: true,
            type: 'linear',
            position: 'bottom'
        },
        y: {
            beginAtZero: true
        }
    },
    legend: {
      display: true
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
    }
  }
});
</script> {% endcomment %}

{% endblock content %}


